.container {
    width: 100%;
}

.header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pesquisa {
    display: flex;
    align-items: center;
    flex: 1;
}

.busca {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.input-pesquisa {
    border-radius: 20px;
    max-width: 250px;
    width: 100%;
    height: 25px;
}

.input-pesquisa:focus-visible {
    outline: unset;
}

.favoritos {
    display: flex;
}

.lixeira::after {
    content: "|";
    margin-left: 5px;
    margin-right: 10px;
}

#modal-favoritos {
    cursor: pointer;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.data {
    font-size: 24px;
}

.data-previsao {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 5px;
    border: 1px solid;
    border-radius: 20px;
}

.previsao {
    display: flex;
    align-items: center;
}

.caracteristicas {
    padding: 10px;
}

.tempMax, .tempMin, .prob {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.tempMax span, .tempMin span, .prob span {
    margin-left: 5px;
    font-size: 20px;
}

.tempMax {
    color: red;
}

.tempMin {
    color: blue;
}

.prob {
    color: gray;
}

.temp-nome {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temp-nome p {
    margin: 0;
    padding: 10px;
}

.temperatura {
    text-transform: capitalize;
    font-size: 30px;
}

.previsao-detalhada {
    cursor: pointer;
    display: block !important;
    margin: 0 !important;
}

.cidade {
    font-size: 24px;
}

.icon-status {
    padding: 10px;
}

.buttons {
    display: flex;
}

.button {
    display: none;
    background-color: transparent;
    border-radius: 20px;
    height: 30px;
    cursor: pointer;
    margin: 20px 10px;
}

.favoritos a {
    text-decoration: none;
    cursor: pointer;
}

.container-previsao {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.row-7d {
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.previsao-7d {
    display: flex;
    flex-direction: column;
}

.row-14d {
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.previsao-14d {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nascer-sol {
    color: #fbca47;
    display: flex;
    align-items: center;
    padding: 5px;
}

.nascer-sol span {
    margin-left: 10px;
    font-size: 20px;
}

.por-sol {
    color: #f69f22;
    display: flex;
    align-items: center;
    padding: 5px;
}

.por-sol span {
    margin-left: 10px;
    font-size: 20px;
}

.uv-sol-baixo span, .uv-sol-moderado span, .uv-sol-alto span, .uv-sol-muito-alto span, .uv-sol-extremo span {
    margin-left: 10px;
    font-size: 20px;
}

.uv-sol-baixo {
    color: green;
    display: flex;
    align-items: center;
    padding: 5px;
}

.uv-sol-moderado {
    color: yellow;
    display: flex;
    align-items: center;
    padding: 5px;
}

.uv-sol-alto {
    color: orange;
    display: flex;
    align-items: center;
    padding: 5px;
}

.uv-sol-muito-alto {
    color: red;
    display: flex;
    align-items: center;
    padding: 5px;
}

.uv-sol-extremo {
    color: rebeccapurple;
    display: flex;
    align-items: center;
    padding: 5px;
}

.volume-chuva span {
    margin-left: 10px;
    font-size: 20px;
}

.volume-chuva {
    color: gray;
    display: flex;
    align-items: center;
    padding: 5px;
}

/* Graficos */

.graficos{
    display: flex;
}

.container-grafico-temp, .container-grafico-prob{
    width: 50%;
}

/* Slick */

.slick-slide {
    text-align: center;
}

.slick-slide img {
    align-content: center;
    width: 60px;
}

.slick-prev::before, .slick-next::before {
    color: black !important;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .input-pesquisa {
        border-radius: 20px;
        max-width: 250px;
        width: 100%;
        height: 20%;
    }
    .header {
        padding: 5px;
        flex-direction: column;
    }
    .row {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
    }
    .data-previsao {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        margin: 5px;
        border: 1px solid;
        border-radius: 20px;
    }
    #data-previsao {
        font-size: 80%;
        text-align: center;
    }
    .data-previsao p {
        font-size: 15px;
    }
    .data-previsao img {
        width: 80px;
        width: 80px;
    }
    .data-previsao span {
        font-size: 20px;
        text-align: center;
    }
    .previsao-detalhada {
        cursor: pointer;
        display: block !important;
        height: 40px;
    }
    .row-7d {
        width: 65%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .previsao-7d {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .row-14d {
        width: 65%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .previsao-14d {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .canvas {
        width: 500px;
        height: 500px;
    }
    #button-add {
        height: 40px;
    }
    #button-7d {
        height: 40px;
    }
    #button-14d {
        height: 40px;
    }
    .grafico-temp {
        max-width: 100%
    }

    .graficos{
        display: block;
    }
    .container-grafico-temp, .container-grafico-prob{
        width: 100%;
    }

    .favoritos{
        flex-direction: column;
        align-items: center;
    }
    .div-favorito{
        padding: 5px;
    }
}